MODE=auto
USE_START_STOP_DAEMON=true
PID_FOLDER={{ pid_dir }}
LOG_FOLDER={{ log_dir }}
CONF_FOLDER={{ config_dir }}
#The name of the folder to read .conf files from (same folder as jar-file by default).
LOG_FILENAME={{ app_name }}.log
APP_NAME={{ app_name }}
#RUN_ARGS=The arguments to pass to the program (the Spring Boot app).
#JAVA_HOME=The location of the java executable is discovered by using the PATH by default, but you can set it explicitly if there is an executable file at $JAVA_HOME/bin/java.
#JAVA_OPTS=Options that are passed to the JVM when it is launched.
#JARFILE=The explicit location of the jar file, in case the script is being used to launch a jar that it is not actually embedded in.
#DEBUG=if not empty will set the -x flag on the shell process, making it easy to see the logic in the script.